@()(implicit request: RequestHeader)

<html ng-app>
<head>
    <title>Chat Box</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/chat.js")" type="text/javascript"></script>
</head>
<body ng-controller="ChatCtrl">
<p ng-hide="loggedIn">
    <label for="username">User name</label>
    <input id="username" type="text" ng-model="username">
    <button ng-click="logIn()">Log in</button>
</p>
<p ng-show="loggedIn">You logged in as {{username}}</p>
<p ng-show="errorMessage">
    Cannot execute requested operation because of "{{errorMessage}}"
    <button ng-click="errorMessage = null">Close</button>
</p>
<p ng-show="loggedIn">
    <label for="messageBox">Enter message</label>
    <textarea ng-model="message"></textarea>
    <button ng-click="send()">Send</button>
</p>
<p ng-show="loggedIn">
    <label for="userList">Users logged in chat</label>
    <select ng-model="recipient" ng-options="user as user for user in users" size="10" style="width: 150px"></select>
</p>
<p ng-show="loggedIn">
    <div ng-repeat="m in messages">
        <b>{{m.sender}}</b>: <span ng-class="{own: m.sender == username, opponent: m.sender != username}">{{m.text}}</span>
    </div>
</p>
</body>
</html>