@(name: String)

<html ng-app>
<head>
    <title>Application</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/my-first.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
</head>
<body>
<form method="post">
    <input type="text" name="name" ng-model="name" ng-init="name = '@name'">
    <p>{{name}}</p>

    <div ng-controller="ListCtrl">
        <label for="choose">Choose the name! Currently chosen: {{chosen}}</label>
        <p>
        <select id="choose" ng-model="chosen" name="n2" size="6">
            <option ng-repeat="n in names">{{n}}</option>
        </select>
        </p>
        <p>
            <a ng-click="action()">Click!</a>
        </p>
        <p ng-show="g">
            Name: {{g.name}}
            Price: {{g.price}}
            Presented: <input type="checkbox" ng-model="g.presented">
        </p>
        <p ng-hide="g">
            Error has occurred!
        </p>
        <p ng-show="allgoods">
            All goods
            <table>
               <thead><th>Name</th><th>Price</th><th>Presented</th></thead>
               <tbody>
                 <tr ng-repeat="g1 in allgoods">
                     <td>{{g1.name}}</td>
                     <td>{{g1.price}}</td>
                     <td><input type="checkbox" ng-model="g1.presented"></td>
                 </tr>
               </tbody>
            </table>
        </p>
    </div>
    <div ng-controller="MyOwnCtrl">
        <select ng-model="selectedItem" size="10" style="width: 150px">
            <option ng-show="listItems.length" ng-repeat="i in listItems">{{i}}</option>
        </select>

        Selected item: {{selectedItem}}
    </div>
</form>
</body>
</html>